extends layout.pug

block content
    div.container.h-100
        div.row.h-100.align-items-center
            div.col-md-6.offset-md-3
                div.alert.alert-danger There was an error!
                div.text-center
                    a(href="/"): button.btn.btn-primary(type="button") Powrot
